# Kamailio
KAM_SIP_PORT=5060
# fake token used for rpc request auth
KAM_HTTP_TOKEN=91295e60-8de5-4f84-a324-d17f5397e971

# Kamailio pg config
KAM_PG_USER=xui
KAM_PG_PASS=xui
KAM_PG_HOST=10.84.0.55
KAM_PG_DB=xswitch
KAM_PG_PORT=5432